body {
	background: #f2f2f2;
	font-family: arial;
}
div {
	margin: 20px 0px;
}
.boton {
	background: #32021f;
	color: #E0F2F7;
	font-size:16px;
	text-decoration:none;
	padding: 15px 20px;
	display: inline-block;
	margin: 0px 10px;

}

.boton:hover {
	opacity: .8;

}
/* Tamaño*/
.small{
	font-size: 14px;
	padding: 10px 15px;

}

.medium{
	font-size: 16px;
	padding: 15px 20px;

}

.big{
	font-size: 18px;
	padding: 20px 25px;

}

.extra-big {
	font-size: 20px;
	padding: 25px 30px;

}

/*colores*/
.azul{background: #246eb9;}
.verde{background: #4fb560;}
.naranja{background: #f9a03f;}

.border-radius{
	border-radius: 100px; 
}


