* {
	padding: 0px;
	margin: 0px;
}

.caja {

	width: 200px;
	height: 200px;
	background: #0040FF;
	margin: 20px 10px 5px 0px;
	padding: 20px;
	border:10px solid #000;
	/*margin-top: 20px 
	margin-right: 10px;
	margin-left: 5px;	
	margin-bottom: 0px;*/
}

body{
	font-size: 10px;
	font-family: arial;
	color: #fff

}
body{
	line-height: 15px;

}
