/*tipos de posicionamientos


     Normal (static)  por defecto donde las navegadores acomodan los elementos
     adsoluto (absolute) nos permite posicionar una caja respecto a su contenedor y los desmas elementos ignoran la nueva posicion
     relativo (relative) nos permite posicionar una caja  y despues moverla desde su origen
     fijo     (fixed)   nos permite posicionar una caja,  de donde su posicion frente a la pantalla del usuario siempre va hacer la misma
     flotante   (float) nos permite posicionar las cajas  todo lo posible hacia la derecha o izquierda*/

    
    

*{
	padding:0px;
	margin: 0px;
}

body{
	background: #f2f2f2;
}

.caja{
	width: 200px;
	height: 200px;
	background: #0e6ba8;
	margin: 20px;
	float:left; 


}

/*.cajapadre{

	margin: 20px;
	background: #2e294e;
	width: 500px;
	height: 500px;
	position: relative;
}*/
.posicionada{
	background: #DF013A;
	/*position: relative;
	top:; 
	right:;
	left:200px;
	bottom:50px;*/
    /*position: absolute;
    top:; 
	right:0%;
	left:;
	bottom:0%;*/
	/*position: fixed;
    top:; 
	right:;
	left:220px;
	bottom:;*/


